body {
    background-color: #f6f6f6;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aquamarine;
}

.Card {
    background: #ffffff;
}

.MainColumnCard {
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
}