html {
    height: 100%;
}
body {
    background-color: #f6f6f6;
    font-size: 15px;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aquamarine;
}

.Card {
    background: #ffffff;
}

.MainColumnCard {
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}